.Search {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.SearchGridContainer {
  width: 100%;
  overflow: auto;
  margin: 1rem;
}

.SearchGridHeader,
.SearchGridItem {
  white-space: nowrap;
  p {
    margin: 0.25rem;
  }
}

.SearchGridHeader {
  background: #78c0c0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.SortableHeader {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: darken(#78c0c0, 10%);
  }
}

.SortedHeader {
  background: darken(#78c0c0, 10%);
}

.Arrow {
  display: flex;
  margin-left: 1rem;
}

.Rotate {
  transform-origin: center;
  transform: rotate(180deg);
}

.NucleotideChange {
  cursor: pointer;

  &:hover {
    background: lighten(#ccc, 10%);
  }
}

.EntryName {
  display: flex;
  align-items: center;
}

.Variants {
  transition: 0.3s;
  display: none;
  background: lighten(#ccc, 10%);

  p {
    margin-left: 1.75rem;
  }
}

.isOpen {
  display: block;
}

.Carrot {
  display: flex;
  transition: 0.3s;
}

.Rotate90 {
  transform: rotate(90deg);
}
