@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_classes.scss';

.Search {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
}

.SearchGridContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  margin: $margin;
  margin-bottom: 0;
}

.LoaderContainer {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}
