@import './src/assets/scss/_variables.scss';

$light-gray: lighten(#ccc, 10%);

.SearchGridItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  p {
    margin: $margin / 4 $margin / 2;
  }
}

.Condensed {
  white-space: nowrap;
}

.DarkRow {
  background: $light-gray;
}

.EntryName {
  display: flex;
  align-items: center;

  a {
    color: $darker-main-theme;
    margin: $margin / 4;
  }
}

.NucleotideChange {
  cursor: pointer;
  transition: $transition-duration2;

  &:hover {
    background: $light-main-theme;
  }
}

.Variants {
  transition: $transition-duration1;
  display: none;

  p {
    margin-left: $margin * 2;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: $margin / 4;
    }
  }
}

.isOpen {
  display: block;
}

.Carrot {
  display: flex;
  transition: $transition-duration1;
}

.Rotate90 {
  transform: rotate(90deg);
}

.Comment {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  background: $md-white;
  width: 20rem;
  max-height: 20rem;
  box-shadow: $box-shadow-card;
  overflow: auto;
}

.ShowComment {
  display: block;

  p {
    white-space: normal;
  }
}
