@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.SearchBar {
  width: 100%;
  max-width: $width * 25;

  form {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      appearance: none;
      background: $md-white;
      color: $md-black;
      border: $border-input;
      border-radius: $border-radius-input;
      padding: $padding / 2 $padding / 1.5;
      transition: $transition-duration1;

      &:hover {
        box-shadow: $box-shadow;
      }

      &:focus {
        outline: none;
        border-color: $main-theme;
        box-shadow: $box-shadow;
      }
    }

    button {
      cursor: pointer;
      appearance: none;
      background: $main-theme;
      color: $md-black;
      border: none;
      border-radius: $border-radius-button;
      width: 100%;
      max-width: $width * 5;
      margin-left: $margin;
      transition: $transition-duration1;
      font-weight: bold;
      box-shadow: $box-shadow;

      &:hover {
        background: $dark-main-theme;
      }
    }
  }
}
