@import './src/assets/scss/_variables.scss';

.CheckboxContainer {
  display: flex;
  margin-bottom: $margin / 2;
  cursor: pointer;
  white-space: nowrap;
  min-height: 1.5rem;
  position: relative;
}

.CheckboxContainer .Checkbox {
  appearance: none;
  cursor: pointer;
}

.Check {
  min-height: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  margin-right: $margin / 1.5;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover .Checkbox ~ .Check {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckboxContainer .Checkbox:checked ~ .Check {
  background-color: $main-theme;
}

/* Create check (hidden when not checked) */
.Check:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show check when checked */
.Checkbox:checked ~ .Check:after {
  display: block;
}

/* Style the check */
.CheckboxContainer .Check:after {
  width: 7px;
  height: 13px;
  border: solid $md-white;
  border-width: 0 3px 3px 0;
  transform: translate(120%, 30%) rotate(45deg);
}
